@{ 
    
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" title="下拉" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"> 你好，@User.Identity.GetUserName()!</span><span class="caret"></span></a>
            @*<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" id="DropDownMenu1" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-user"> 你好，@User.Identity.GetUserName()!</span></button>*@
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="@Url.Action("Index","Manage")">账号管理</a></li>
                <li><a href="@Url.Action("EntryWare","WareManage")">发布闲置</a></li>
                <li><a href="@Url.Action("OrderHand","WareManage")">订单处理</a></li>
                <li><a href="#">交易记录</a></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">退出</a></li>
            </ul>
        </li>
        <li><a><span class="glyphicon glyphicon-shopping-cart"> 购物车</span></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
        <a href="@Url.Action("Login","Account")" id="loginLink"><span class="glyphicon glyphicon-user"></span> 登录</a>
        </li>
        <li>@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
